run = "npm run dev"
entrypoint = "README.md"
modules = ["nodejs-20", "go-1.21"]
hidden = [".config"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "go.mod", "go.sum", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["npm run build"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 1313
externalPort = 80
